
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* ----------------- General settings ---------------------*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* ----------------- Header style ---------------------*/
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding:2rem 3rem 2rem 3rem;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10rem;
    height: 1.8rem;
    display: flex;
}
.banner-header{
    color: rgb(36, 46, 82);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 176.1%;
    display: none;    
}
.banner-menu{
    width: 3rem;
    height: 3rem;
    display: flex;
}
.contact-boton{
    display: none;
}
/* ----------------- menu style ---------------------*/
.deportista-section{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: stretch;
    padding:2rem 3rem 2rem 2rem;
    gap: 6.25rem ;
}
.deportista-section img{
    width: 26rem;
    height: 25rem;
}
.FraseHome{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    gap: 1.25rem ;
}
h1{
    color: rgb(35, 44, 80);
    text-align: right;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%; 
    letter-spacing: -0.106rem;
}
.FraseHome p{
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 1.10rem;
    font-weight: 700;
    line-height: 157.1%;
}
.FraseHome div{
    display: flex;
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
.FraseHome div a{  
    text-decoration: none;
    font-size: 0.813rem;
    color: aliceblue;
    font-weight: 500; 
}
.FraseHome div a:hover{
    color: #c2c2c2;
}
.question-section {
    display: flex;
    width: 100%;
    padding: 2.5rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3CDDF3;
    gap: 3.125rem;
}
h2{
    color:  #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
}
.question-section div{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%; 
    padding-right: 1rem;
}
.card-section {
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: stretch;
    padding:4.25rem 0rem 2rem 2.125rem;
    gap: 1.25rem ;
}
.card {
    width: 27.875rem;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: stretch;
    gap: 1.313rem ;
}
.card #titulo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    background: rgba(139, 72, 191, 0.30);
}
.card #number{
    border-radius: 1.875rem;
    background:#8B48BF;
    padding: 0.625rem 1.563rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.card #item{
    color: #323851;
    letter-spacing: -0.24px;
    font-size: 1rem;
    font-weight: 700;
}
.card #parrafo{
    display: flex;
    padding: 0.625rem;
    color: #B3B2B7;
    font-size: 1.019rem;
    font-weight: 400;
    line-height: 156.6%;
    letter-spacing: -0.01rem;
}
.best-month-section{
    display: flex;
    flex-direction: column;
    padding: 1.063rem ;
    gap: 3rem ;
} 
h3{
    color: #242E53;
    font-size: 2.451rem;
    font-weight: 700;
    line-height: 156.6%;
    letter-spacing: -0.025px;
    text-align: center;
}
.stories{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.personal-article{
    width: 24.375rem;
    display: inline-flex;
    flex-direction: column;    
    gap: 1.313rem;
    text-align: center;

}
.personal-article div img{
    border-radius: 50%;
    max-height: 10rem;
    max-width: 10rem;
}
h4{
    color: #3F4868;
    font-size: 1.004rem;
    font-weight: 700;
    line-height: 156.6%; 
    letter-spacing: -0.01rem;
}
.personal-article p{
    color: #B9B9C1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 156.6%;
}
.personal-article #rectangulo{
    position: absolute;
    width: 100%;
    height: 13.688rem;
    background:#FAFAFA;
    z-index: -10;
    bottom: 0%;
    left: 0%;
}
#sanyo1{
    display: none;
}
#navarro3{
    display: none;
}
.boton-more{
    display: flex;
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
    align-self:center;
    justify-content: center;
    align-items: center;
} 
.boton-more a{ 
    text-decoration: none;     
    font-size: 0.813rem;
    color: #FFF;
    font-weight: 500; 
}
.boton-more  a:hover{
    color: #c2c2c2;
}

.get-for-it {
    display: flex;
    padding: 2.5rem 3.125rem;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    background: #3CDDF3;
}
.get-for-it h2{
    color: #FFF;
    width: 70%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 119.6%;
    letter-spacing: -0.013rem;
}
.boton-go-for-it{
    display: flex;
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    background: #232C50;;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    align-self:center;
    justify-content: center;
    align-items: center;
}   
.boton-go-for-it a{  
    text-decoration: none;
    font-size: 0.824rem;
    color: #FFF;
    font-weight: 500; 
}
.boton-go-for-it a:hover{
    color: #aca7a7;
}

/* ----------------- footer style ---------------------*/

footer{
    display: flex;
    flex-direction: column;   
    background: #1E1E26;
    text-align: center;
}

.footerfinal{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: center;
    padding:2.5rem 0rem 2.5rem 0rem;
    gap: 1.563rem;  
}
.go {
    padding:0.625rem 3.125rem 0.625rem 3.125rem;
}
.go form{
    display: flex;    
    align-items: center; 
    justify-content: space-between;  
    gap: 0.563rem;
}
.go form input{
    width: 80%;
    height: 2.75rem;
    padding: 0.625rem;
    border-radius: 3.125rem;
    background: #FFF;
    border: none;
}
.go #button-go{
    height: 2.625rem;
    border-radius: 1.875rem;
    background:#8B48BF;
    padding: 0.625rem 1.563rem;
    color: #FFF;
    font-size: 0.824rem;
    font-weight: 500;
    border:none;
}
.banner-footer {
    display: flex;
    justify-content: center;
    gap: 9.375rem;

}
.banner-footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    list-style: none;
}
.banner-footer ul li a{
    text-decoration: none;
    color: #FFF;
}
.banner-footer ul li a:hover{
    color: #8B48BF;
}
.icons{
    display: flex;
    flex-direction: row;
    padding: 0.625rem 3.125rem;
    justify-content: space-between;
    gap: Auto;
}
footer .logo{
    margin:  0.625rem;
    width: 10rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    padding-left: 45%;
}
#copyright{
    padding-bottom: 3rem;
    gap: 0.625rem;
    color: #8C8C94;
    font-size: 0.781rem;
    font-weight: 500;

}
/* ----------------- media Queries style ---------------------*/
@media (min-width: 481px){
    header{
        padding:4rem 12%;
        justify-content: space-between;
        align-items: center;
    }
    .banner-header {
        display: flex;
        justify-content: center;
       }
    .banner-header ul{
        display: flex;
        gap:1.75rem;
        font-size: 0.813rem;
        font-weight: 500;
        line-height: 176.1%;
        list-style: none;
    }
    .banner-header ul li a{
        text-decoration: none;
        color: #242E52;
    }
    .banner-header ul li a:hover{
        color: #8B48BF;
    }
    .banner-menu{
        display: none;
    }
    .contact-boton {
        display: flex;
        width: 8.375rem;
        height: 2.75rem;
        border-radius: 3.125rem;
        background: #8B48BF;
        box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
        justify-content: center;
        align-items: center;
    }
    .contact-boton a{  
        text-decoration: none;
        font-size: 0.813rem;
        color: #FFF;
        font-weight: 500;    
    }
    .contact-boton a:hover{
        color: #c2c2c2;
    }

    /* ----------------- menu style ---------------------*/
    .deportista-section{
        flex-direction: row;    
        padding:4rem 10rem;
        align-items: center;
    }
    .deportista-section img{
        width: 50%;
        height: 50%;
    }
    .FraseHome{ 
        width:50%; 
    }

    .question-section {
        background: #8B48BF;
        padding:2.5rem 10rem;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }
    .h2{
        flex-basis: 50%;
    }
    .question-section div{ 
        flex-basis: 50%;
    }

    .card-section {
        flex-direction: row;
        background: #FAFAFA;
        flex-wrap: wrap;
        justify-content: space-around; 
     }
     .card {
        position: relative;
        min-width: 33rem;
     }
    .card #titulo{
        border-radius: none;
        background: none;
    }
    .card #number{
        position: absolute;
    }
    .card #item{
        padding-left: 5rem;
    }
    .card #parrafo{
        padding-left:  5rem;
        min-width: 31.25rem;
    }

    .best-month-section{
        align-items: center;
    } 
    .stories{
        flex-wrap: wrap; 
        justify-content: center;
        flex-direction: row;
    }
    .personal-article{
        margin-left: 2rem;
    }

    #sanyo1{
        display: flex;
    }
    #navarro3{
        display: flex;
    }

    .get-for-it {
        flex-direction: row;
        justify-content: space-between;
        background: #8B48BF;
        padding: 5% 13%;
    }
    .get-for-it h2{
        color: #FFF;
        text-align: left;
        width: 33rem;
    }
    .boton-go-for-it{
        background: #FFF;
    }   
    .boton-go-for-it a{  
        color: #8B48BF;
    }
    
    /* ----------------- footer style ---------------------*/
    

    .footerfinal{
        padding: 5% 5% 0% 5%;
        flex-direction: row-reverse;     
    }

    .iconosylogo{
        display: flex;
        flex-direction: column-reverse; 
        justify-content: space-between;
    }
    
    footer .logo{
        padding: 0%;
        justify-content: left;
    }

    footer .icons{
        padding: 1%;
    }

    #copyright{
        text-align: right;
        padding-right: 8%;
    }
    
}
