
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* ----------------- General settings ---------------------*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}



/* ----------------- Header style ---------------------*/

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding:2rem 3rem 2rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10rem;
    height: 1.8rem;
    display: flex;
}

.banner-header{
    color: rgb(36, 46, 82);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 176.1%;
    display: none;    
}

.banner-menu{
    width: 3rem;
    height: 3rem;
    display: flex;
}

.contact-boton{
    width: 8.375rem;
    height: 2.75rem;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
    font-size: 0.813rem;
    display: none;
}

/* ----------------- menu style ---------------------*/

.deportista-section{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: stretch;
    padding:2rem 3rem 2rem 2rem;
    gap: 6.25rem ;
}

.deportista-section img{
    width: 26rem;
    height: 25rem;
}



.FraseHome{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    gap: 1.25rem ;
}

h1{
    color: rgb(35, 44, 80);
    text-align: right;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%; 
    letter-spacing: -0.106rem;
}

.FraseHome p{
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 1.10rem;
    font-weight: 700;
    line-height: 157.1%;
}



.FraseHome div {
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
    align-self: flex-end;
    padding: 0.625rem;
    padding-left: 2.5rem;
}

.FraseHome div a{  
    font-size: 0.813rem;
    color: aliceblue;
    font-weight: 500; 
}



.question-section {
    display: flex;
    width: 100%;
    padding: 2.5rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3CDDF3;
    gap: 3.125rem;
}

h2{
    color:  #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
}

.question-section div p{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%; 
}


.card-section {
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: stretch;
    padding:4.25rem 0rem 2rem 2.125rem;
    gap: 1.25rem ;
}

.card {
    width: 27.875rem;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: stretch;
    gap: 1.313rem ;
}

.card #titulo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    background: rgba(139, 72, 191, 0.30);
}

.card #number{
    border-radius: 1.875rem;
    background:#8B48BF;
    padding: 0.625rem 1.563rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.card #item{
    color: #323851;
    letter-spacing: -0.24px;
    font-size: 1rem;
    font-weight: 700;
}

.card #parrafo{
    width: 27rem;
    display: flex;
    padding: 0.625rem;
    color: #B3B2B7;
    font-size: 1.019rem;
    font-weight: 400;
    line-height: 156.6%;
    letter-spacing: -0.01rem;
}

.best-month-section{
    display: flex;
    flex-direction: column;
    padding: 1.063rem ;
    gap: 3rem ;
} 

h3{
    color: #242E53;
    font-size: 2.451rem;
    font-weight: 700;
    line-height: 156.6%;
    letter-spacing: -0.025px;
    text-align: center;
}


.stories{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.personal-article{
    width: 24.375rem;
    display: inline-flex;
    flex-direction: column;    
    gap: 1.313rem;
    text-align: center;

}

.personal-article div img{
    border-radius: 50%;
    max-height: 10rem;
    max-width: 10rem;
}

h4{
    color: #3F4868;
    font-size: 1.004rem;
    font-weight: 700;
    line-height: 156.6%; 
    letter-spacing: -0.01rem;
}

.personal-article p{
    color: #B9B9C1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 156.6%;
}

.personal-article #rectangulo{
    position: absolute;
    width: 100%;
    height: 13.688rem;
    background:#FAFAFA;
    z-index: -10;
    bottom: 0%;
    left: 0%;
}


#sanyo1{
    display: none;
}

#navarro3{
    display: none;
}

.boton-more{
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
    align-self:center;
    padding: 0.625rem;
    padding-left: 3rem;
}
    
.boton-more a{  
    font-size: 0.813rem;
    color: #FFF;
    font-weight: 500; 
}

.get-for-it {
    display: flex;
    padding: 2.5rem 3.125rem;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    background: #3CDDF3;
}

.get-for-it h2{
    color: #FFF;
    width: 20.25rem;
    height: ;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 119.6%;
    letter-spacing: -0.013rem;
}


.boton-go-for-it{
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    background: #232C50;;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    align-self:center;
    padding: 0.625rem;
    padding-left: 2.5rem;
}
    
.boton-go-for-it a{  
    font-size: 0.824rem;
    color: #FFF;
    font-weight: 500; 
}


footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    justify-content: space-between;
    align-content: center;
    padding:2.5rem 0rem 2.5rem 0rem;
    gap: 1.563rem;  
    background: #1E1E26;
    text-align: center;
}

.banner-footer {
    display: flex;
    flex-direction: column;  
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 0.625rem 3.125rem;
    justify-content: space-between;
    gap: Auto;
}

footer .logo{
    margin:  0.625rem;
    width: 10rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    padding-left: 45%;
}

#copyright{
    padding: 0.625rem;
    gap: 0.625rem;
    color: #8C8C94;
    font-size: 0.781rem;
    font-weight: 500;
}
