
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* ----------------- General settings ---------------------*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* ----------------- Header style ---------------------*/
header{
    align-items: center;    
    display: flex;
    justify-content: space-between;
    padding:2rem 3rem 2rem 3rem;
}
.logo{
    display: flex;    
    height: 1.8rem;
}
.logo:hover{
    transform: translateX(2em);
}
.banner-header{
    display: none;    
}
.contact-boton{
    display: none;
}
/* ----------------- menu style ---------------------*/
.deportista-section{
    display: flex;
    flex-direction: column;  
    gap: 6.25rem ;      
    padding:2rem 3rem 2rem 2rem;
}

.deportista-section img:hover{
    transform: rotate(0.1turn);
}
.FraseHome{
    display: flex;    
    flex-direction: column;    
    gap: 1.25rem ;
    width: 100%;
}
h1{
    color: rgb(35, 44, 80);
    font-size: 3.125rem;
    letter-spacing: -0.106rem;
    line-height: 114.6%;     
    text-align: right;    
}
.FraseHome p{
    color: rgb(0, 0, 0);
    font-size: 1.10rem;
    font-weight: 700;
    line-height: 157.1%;
    text-align: right;    
}
.FraseHome div{
    align-items: center; 
    align-self: flex-end;    
    background-color: #8B48BF;  
    border-radius: 3.125rem; 
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);            
    display: flex;
    height: 2.75rem;
    justify-content: center;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    width: 8.375rem;
}
.FraseHome div:hover{
    background: rgb(196, 135, 209);
}
.FraseHome div a{ 
    color: aliceblue;
    font-weight: 500;     
    font-size: 0.813rem;     
    text-decoration: none;
}
.FraseHome div a:hover{
    color: #644164;
}
.question-section{
    background: #3CDDF3;    
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding: 2.5rem 1.25rem 0rem 1.25rem;
}
h2{
    color:  #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
}
.question-section div{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%; 
    padding-right: 1rem;
}
.card-section {
    display: flex;
    flex-direction: column;    
    gap: 1.25rem ;    
    padding:4.25rem 0rem 2rem 2.125rem;
}
.card {
    display: flex;
    flex-direction: column;    
    gap: 1.313rem;
}
.card #titulo{
    align-items: center;
    align-self: stretch;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    background: rgba(139, 72, 191, 0.30);    
    display: flex;
    gap: 0.5rem;
}
.card #number{
    border-radius: 1.875rem;
    background:#8B48BF;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;    
    padding: 0.625rem 1.563rem;
    padding-right: 2rem;
}
.card #item{
    color: #323851;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.24px;    
}
.card #parrafo{
    color: #B3B2B7;    
    display: flex;
    font-size: 1.019rem;
    font-weight: 400;   
    line-height: 156.6%;
    letter-spacing: -0.01rem;     
    padding: 0.625rem;
}
.best-month-section{
    display: flex;
    flex-direction: column;
    gap: 3rem ;    
    padding: 1.063rem ;
} 
h3{
    color: #242E53;
    font-size: 2.451rem;
    font-weight: 700;
    line-height: 156.6%;
    letter-spacing: -0.025px;
    text-align: center;
}
.stories{
    align-items: center;    
    display: inline-flex;
    flex-direction: column;
    position: relative;
}
.personal-article{
    display: inline-flex;
    flex-direction: column;    
    gap: 1.313rem;
    text-align: center;
}
.personal-article div img{
    border-radius: 50%;
    max-height: 10rem;
    max-width: 10rem;
}
.personal-article div img:hover{
    transform: scale(1.1) translate(20%, 20%);
}
h4{
    color: #3F4868;
    font-size: 1.004rem;
    font-weight: 700;
    line-height: 156.6%; 
    letter-spacing: -0.01rem;
}
.personal-article p{
    color: #B9B9C1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 156.6%;
}
.personal-article #rectangulo{
    background:#FAFAFA;
    bottom: 0%;    
    left: 0%;    
    height: 13.688rem;
    position: absolute;    
    width: 100%;
    z-index: -10;
}
#sanyo1{
    display: none;
}
#navarro3{
    display: none;
}
.boton-more{
    align-self:center; 
    align-items: center;    
    background-color: #8B48BF;  
    border-radius: 3.125rem;     
    box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);        
    display: flex;
    height: 2.75rem;
    justify-content: center;
    transition-property: background-color, color;
    transition-duration: 0.7s;
    width: 8.375rem;    
} 
.boton-more:hover{
    background:rgb(196, 135, 209);
}
.boton-more a{ 
    color: #FFF;
    font-weight: 500; 
    font-size: 0.813rem;
    text-decoration: none;  
}
.boton-more  a:hover{
    color: #644164;
}
.get-for-it {
    align-items: center;    
    background: #3CDDF3;    
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding: 2.5rem 3.125rem;
}
.get-for-it h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 119.6%;
    letter-spacing: -0.013rem;
    text-align: center;
    width: 70%;
}
.boton-go-for-it{
    align-items: center;    
    align-self:center;   
    border-radius: 3.125rem;
    background-color: #232C50;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.25);       
    display: flex;
    height: 2.75rem;
    justify-content: center;
    transition-property: background-color, color;
    transition-duration: 0.7s;
    width: 8.375rem;    
}   
.boton-go-for-it:hover{
    background:rgb(238, 220, 241);
}
.boton-go-for-it a{  
    color: #FFF;    
    font-size: 0.824rem;
    font-weight: 500; 
    text-decoration: none;
}
.boton-go-for-it a:hover{
    color: #644164;
}

/* ----------------- footer style ---------------------*/
footer{
    background: #1E1E26;   
    display: flex;
    flex-direction: column;   
    text-align: center;
}
.footerfinal{
    display: flex;
    flex-direction: column;    
    gap: 1.563rem;      
    padding:2.5rem 0rem 2.5rem 0rem;
}
.go {
    padding:0.625rem 3.125rem 0.625rem 3.125rem;
}
.go form{
    align-items: center;     
    display: flex;     
    gap: 0.563rem;
}
.go form input{
    border-radius: 3.125rem;
    border: none;    
    height: 2.75rem;
    padding: 0.625rem;
    width: 80%;
}
input:focus{
    color: orange;
    font-weight: bold;
}
.go #button-go{
    border:none;
    border-radius: 1.875rem;
    background-color:#8B48BF;
    color: #FFF;
    font-size: 0.824rem;
    font-weight: 500;
    height: 2.625rem;    
    padding: 0.625rem 1.563rem;
    transition-property: background-color, color;
    transition-duration: 0.7s;
}
.go #button-go:hover{
    background:rgb(173, 96, 185);
}
.banner-footer {
    display: flex;
    gap: 9.375rem;    
    justify-content: center;
}
.banner-footer ul{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    gap: 0.75rem;    
    list-style: none;   
    text-align: left;
}
.banner-footer ul li a{
    color: #FFF;    
    text-decoration: none;
}
.banner-footer ul li a:hover{
    color: #8B48BF;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding: 0.625rem 3.125rem;
}
footer .logo{
    display: flex;    
    height: 1.8rem;
    justify-content: center;    
    margin:  0.625rem;
    padding-left: 45%;    
    width: 10rem;
}
#copyright{
    color: #8C8C94;
    font-size: 0.781rem;
    font-weight: 500;    
    padding-bottom: 3rem;
}

/* ----------------- media Queries style ---------------------*/
@media (min-width: 481px){
    header{
        align-items: center;        
        justify-content: space-between;
        padding:4rem 12%;
    }
    .banner-header {
        display: flex;
        justify-content: center;
    }
    .banner-header ul{
        display: flex;
        font-size: 0.813rem;
        font-weight: 500;        
        gap:1.75rem;
        line-height: 176.1%;
        list-style: none;
    }
    .banner-header ul li a{
        color: #242E52;        
        text-decoration: none;
    }
    .banner-header ul li a:hover{
        color: #8B48BF;
    }
    .banner-menu{
        display: none;
    }
    .contact-boton {
        align-items: center;        
        background-color: #8B48BF;
        border-radius: 3.125rem;        
        box-shadow: 0rem 0.25rem 0.438rem 0rem rgba(0, 0, 0, 0.25);        
        display: flex;
        height: 2.75rem;
        justify-content: center;
        transition-property: background-color, color;
        transition-duration: 0.7s;        
        width: 8.375rem;
    }
    .contact-boton:hover{
        background:rgb(196, 135, 209);
    }
    .contact-boton a{  
        color: #FFF;        
        text-decoration: none;
        font-size: 0.813rem;
        font-weight: 500;    
    }
    .contact-boton a:hover{
        color: #644164;
    }

    /* ----------------- menu style ---------------------*/
    .deportista-section{
        align-items: center;        
        flex-direction: row;    
        padding:4rem 10rem;
    }
    .deportista-section img{
        height: 50%;
        width: 50%;        
    }
    .FraseHome{ 
        width:50%; 
    }
    .question-section {
        align-items: center;        
        background: #8B48BF;
        flex-direction: row;
        gap: 6.25rem;
        padding:2.5rem 10rem;
    }
    .h2{
        flex-basis: 50%;
    }
    .question-section div{ 
        display: none;
    }
    .question-section span::after{
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet consequat purus sit amet sodales. In faucibus ut nisi eu dignissim. Vestibulum fringilla velit sed tincidunt tincidunt.";
    }
    .question-section span{
        color: #FFF;        
        flex-basis: 50%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 151.1%; 
        padding-right: 1rem;
    }
    .card-section {
        background: #FAFAFA;
        flex-wrap: wrap;
        flex-direction: row;        
        justify-content: space-around; 
     }
    .card {
        min-width: 33rem;        
        position: relative;
        width: 27.875rem;
     }
    .card #titulo{
        background: none;        
        border-radius: none;
    }
    .card #number{
        position: absolute;
    }
    .card #item{
        padding-left: 6rem;
    }
    .card #parrafo{
        min-width: 31.25rem;        
        padding-left:  6rem;
    }
    .best-month-section{
        align-items: center;
    } 
    .stories{
        flex-wrap: wrap; 
        flex-direction: row;        
        justify-content: center;
    }
    .personal-article{
        margin-left: 2rem;
        width: 24.375rem;        
    }
    #sanyo1{
        display: flex;
    }
    #navarro3{
        display: flex;
    }
    .get-for-it {
        background: #8B48BF;        
        flex-direction: row;
        justify-content: space-between;
        padding: 5% 13%;
    }
    .get-for-it h2{
        color: #FFF;
        text-align: left;
        width: 33rem;
    }
    .boton-go-for-it{
        background: #FFF;
    }   
    .boton-go-for-it a{  
        color: #8B48BF;
    }
    
    /* ----------------- footer style ---------------------*/
    .footerfinal{
        flex-direction: row-reverse;
        justify-content: space-between;  
        padding: 5% 5% 0% 5%;           
    }
    .iconosylogo{
        display: flex;
        flex-direction: column-reverse; 
        justify-content: space-between;
    }  
    footer .logo{
        justify-content: left;
        padding: 0%;        
    }
    footer .icons{
        padding: 1%;
    }
    #copyright{
        text-align: right;
        padding-right: 8%;
    }   
}
